.location {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(0, 0, 0, 0.863);
    margin: 2em auto;
    max-width: 500px; /* Ancho máximo del contenedor */
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 1em;
    
  }
  
  .location__name {
    text-align: center;
    margin-bottom: 1em;
    color: green;
  }
  
  .location__details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    text-align: center;
  }
  
  .location__detail-label {
    display: grid;
    grid-template-columns: 1fr;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    color: white;
  }
  
  .location__detail-value {
    text-align: center;
    color: hsla(0, 0%, 100%, 0.452);
  }