@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap')

font-family: 'Lato', sans-serif;


:root {
    --bg-card: #1A262A;
    --color-pink: pink;
}



* {   
    box-sizing: border-box;
}


html {
    font-family: 'Lato', 
}


body{
    margin: 0;
}

h1, h2, h3, p, ul, hr {
    margin: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

input, button {
    font-family: inherit;
    border: none;
}

button {
    cursor: pointer;
}

img{
    display: block;
}
